<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
    <link rel="stylesheet" href="/static/CSS/StellarCrisis.css">
</head>
<body>
    <header>
        <div class="topNav">
            <a href="CreateSeries">Create series</a>
            <a href="ListSeries">List series</a>
            <a href="ModifieSeries">Modifie series</a>
            <a href="CheckEmpire">Check empire</a>
            <a href="Profile">Profile</a>
            <a href="LogOut">Log Out</a>
        </div>
  </header>
<h1 class="center">Welcome to Admin page </h1>
</body>
</html>