<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
    <link rel="stylesheet" href="/static/CSS/StellarCrisis.css">
</head>
<body>
    <header>
        <div class="topNav">
            <a href="CreateSeries">Create series</a>
            <a href="ListSeries">List series</a>
            <a href="CheckEmpire">Check empire</a>
            <a href="Broadcast">Broadcast</a>
            <a href="LoginMessage">Login Message</a>
            <a href="LogOut">Log Out</a>
        </div>
    </header>
    <div class="center">
        <h1>{{ logmsg }}</h1>
        {% if Broadcast %}
            <p style="text-align: center">{{ Broadcast }}</p>
        {% endif %}
    </div>
</body>
</html>