<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BroadCast</title>
    <link rel="stylesheet" href="/static/CSS/StellarCrisis.css">
</head>
<body>
    <header>
        <div class="topNav">
            <a href="CreateSeries">Create series</a>
            <a href="ListSeries">List series</a>
            <a href="CheckEmpire">Check empire</a>
            <a href="Broadcast">Broadcast</a>
            <a href="LoginMessage">Login Message</a>
            <a href="LogOut">Log Out</a>
        </div>
   </header>
    <div class="center">
        <h1>Broadcast message</h1>
        <form method="POST" action="">
            <p style="text-align: center">Number of player {{ nbrPlayer }}</p>
            <input type="text" name="message" placeholder="Message">
            <button type="submit">Push broadcast</button>
        </form>
    </div>

</body>
</html>