<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create series</title>
    <link rel="stylesheet" href="/static/CSS/StellarCrisis.css">
</head>
<body>
    <header>
        <div class="topNav">
            <a href="CreateSeries">Create series</a>
            <a href="ListSeries">List series</a>
            <a href="ModifySeries">Modify series</a>
            <a href="CheckEmpire">Check empire</a>
            <a href="LogOut">Log Out</a>
        </div>
  </header>
    <br>
    <form action="" method="post">
        <label>Name of the game</label> <!-- Table series : sname -->
        <input type="text" id="name" name="name" required><br>

        <label>Color of the game</label> <!-- Table series : color -->
        <input type="color" id="color" name="color" required><br>

        <label>Short description</label> <!-- Table series : descr -->
        <input type="text" id="short_descr" name="short_descr"><br>

        <label>Long description</label>
        <input type="text" id="long_descr" name="long_descr"><br> <!-- Table series : fulldesc -->

        <label>Update Time :</label>
        <input type="text" id="update_time" name="update_time" required><br> <!-- Table series : utime -->

        <label>Time limits :</label>
        <input type="text" id="time_limit" name="time_limit" required><br> <!-- Table series : timelimit -->

        <label>Overtime Update Time :</label>
        <input type="text" id="overtime_update_time" name="overtime_update_time" required><br> <!-- Table series : overtime -->

        <label>Updates on week-end:</label>
        <input type="radio" id="updates_weekend_yes" name="updates_weekend" value="yes" required> <!-- Table series : weekend -->
        <label>Yes</label>
        <input type="radio" id="updates_weekend_no" name="updates_weekend" value="no">
        <label>No</label><br>

        <label>Updates from ... to ...:</label>
        <input type="text" id="updates_period_from" name="updates_period_from" placeholder="From" required> <!-- Table series : fromhr -->
        <input type="text" id="updates_period_to" name="updates_periode_to" placeholder="To" required><br> <!-- Table series : tohr -->

        <label>Delay first update :</label>
        <input type="text" id="delay_first_update" name="delay_first_update" required><br> <!-- Table series : udelay -->

        <label>Number of restricted technologies allowed:</label>
        <input type="number" id="technologies_restricted_allowed" name="technologies_restricted_allowed" required><br> <!-- Table series : availrestrict -->

        <label>Number of Trade-Ins of restricted technologies:</label>
        <input type="number" id="trade_ins_technologies_restricted" name="trade_ins_technologies_restricted" required><br> <!-- Table series : tradeinrestrict -->

        <label>Stargate'range divider:</label>
        <input type="number" id="divider_range_stargate" name="divider_range_stargate" required><br> <!-- Table series : stargate -->

        <label>Jumpgate'range divider:</label>
        <input type="number" id="divider_range_jumpgate" name="divider_range_jumpgate" required><br> <!-- Table series : jumpgate -->

        <label>Maximum number of ships per player:</label>
        <input type="number" id="max_ship_player" name="max_ship_player" min="0"><br> <!-- Table series : maxship -->

        <label>Loss when Engineer, Jumpgate, Morpher and Carrier activation:</label><br>
        <label>Engineer :</label><br>
        <input type="number" id="loss_engineer" name="loss_engineer" required> <!-- Table series : engloss -->
        <label>Jumpgate :</label><br>
        <input type="number" id="loss_jumpgate" name="loss_jumpgate" required> <!-- Table series : jumploss -->
        <label>Morphers :</label><br>
        <input type="number" id="loss_morpher" name="loss_morpher" required> <!-- Table series : morphloss -->
        <label>Carrier :</label><br>
        <input type="number" id="loss_carrier" name="loss_carrier" required><br> <!-- Table series : carloss -->

        <label>Construction and maintenance costs of Morphers, Builders, Jumpgates et Carriers:</label><br>
        <label>Morphers :</label><br>
        <input type="number" id="cost_construction_morpher" name="cost_construction_morpher" required> <!-- Table series : morpherbuild -->
        <input type="number" id="cost_maintenance_morpher" name="cost_maintenance_morpher" required><br> <!-- Table series : morphermaint -->
        <label>Builder :</label><br>
        <input type="number" id="cost_construction_builder" name="cost_construction_builder" required> <!-- Table series : builderbuild -->
        <input type="number" id="cost_maintenance_builder" name="cost_maintenance_builder" required><br> <!-- Table series : buildermaint -->
        <label>Jumpgate :</label><br>
        <input type="number" id="cost_construction_jumpgate" name="cost_construction_jumpgate" required> <!-- Table series : jumpgatebuild -->
        <input type="number" id="cost_maintenance_jumpgate" name="cost_maintenance_jumpgate" required><br> <!-- Table series : jumpgatemaint -->
        <label>Carrier :</label><br>
        <input type="number" id="cost_construction_carrier" name="cost_construction_carrier" required> <!-- Table series : carrierbuild -->
        <input type="number" id="cost_maintenance_carrier" name="cost_maintenance_carrier" required><br> <!-- Table series : carriermaint -->

        <label>Minimum and Range for resource averages:</label><br>

        <label>Farming:</label>
        <input type="number" id="farming_minimum" name="farming_minimum" required> <!-- Table series : avgag -->
        <input type="number" id="farming_range" name="farming_range" required><br> <!-- Table series : rangeag -->

        <label>Mineral:</label>
        <input type="number" id="mineral_minimum" name="mineral_minimum" required> <!-- Table series : avgmin -->
        <input type="number" id="mineral_range" name="mineral_range" required><br> <!-- Table series : rangemin -->

        <label>Fuel:</label>
        <input type="number" id="fuel_minimum" name="fuel_minimum" required> <!-- Table series : avgfuel -->
        <input type="number" id="fuel_range" name="fuel_range" required><br> <!-- Table series : rangefuel -->

        <label>Farming, Mineral and Fuel of the HomeWorld:</label><br>
        <input type="number" id="farming_homeworld" name="farming_homeworld" required> <!-- Table series : homeag -->
        <input type="number" id="mineral_homeworld" name="mineral_homeworld" required> <!-- Table series : homemin -->
        <input type="number" id="fuel_homeworld" name="fuel_homeworld" required><br> <!-- Table series : homefuel -->

        <label>Cost of building a planet:</label>
        <input type="number" id="cost_building_planete" name="cost_building_planete" required><br> <!-- Table series : plabuild -->

        <label>Minimum population to build a ship:</label>
        <input type="number" id="population_min_build_ship" name="population_min_build_ship" required><br> <!-- Table series : minbuild -->

        <label>Maximum number of current games for this series:</label>
        <input type="number" id="number_max_current_game" name="number_max_current_game" required><br> <!-- Table series : max -->

        <label>Spawn First:</label>
        <input type="text" id="spawn_first" name="spawn_first" required><br> <!-- Table series : spawnfirst -->

        <label>active bridier:</label>
        <input type="text" id="active_bridier" name="active_bridier"><br> <!-- Table series : bridier -->

        <label>Allow Alliance/Trade/Truce:</label>
        <select id="alliance_trade_truce" name="alliance_trade_truce" required> <!-- Table series : blood -->
        <option value="yes">Yes</option>
        <option value="no">No</option>
        <option value="only_trade_truce">Only Trade/Truce</option>
    </select><br>

    <label>Maximum number of allies:</label>
    <input type="number" id="number_max_allies" name="number_max_allies" required><br> <!-- Table series : maxallies -->

    <label>Allow Surrender/Draw:</label>
    <select id="allow_surrender_draw" name="allow_surrender_draw" required> <!-- Table series : surrdraw -->
        <option value="yes">Yes</option>
        <option value="no">No</option>
    </select><br>

    <label>List of players of the game visible in the game list:</label>
    <input type="text" id="viewable_players" name="viewable_players" required><br> <!-- Table series : visp -->

    <label>Cloakers are invisibles when built ?</label>
    <select id="cloakers_invisibles" name="cloakers_invisibles" required> <!-- Table series : initcloak -->
        <option value="yes">Yes</option>
        <option value="no">No</option>
    </select><br>

    <label>Are the construction waiting visible?</label>
    <select id="constructions_visible" name="constructions_visible" required> <!-- Table series : vis -->
        <option value="yes">Yes</option>
        <option value="no">No</option>
    </select><br>

    <label>Layout:</label>
    <select id="layout" name="layout" required> <!-- Table series : layout -->
        <option value="Classic">Classic</option>
        <option value="mirror">Mirror (Only 2 Player)</option>
    </select><br>

    <label>Blind until the game starts?</label>
    <select id="blind_until_start" name="blind_until_start" required> <!-- Table series : blind -->
        <option value="yes">Yes</option>
        <option value="no">No</option>
    </select><br>

    <label>Maximum number of players in the game:</label>
    <input type="number" id="number_max_player" name="number_max_player" required><br> <!-- Table series : pmax -->

    <label>Minimum and maximum number of systems per player:</label><br>
    <input type="number" id="number_systems_min" name="number_systems_min" required> <!-- Table series : smin -->
    <input type="number" id="number_systems_max" name="number_systems_max" required><br> <!-- Table series : smax -->

    <label>Farming ratio maximum:</label>
    <input type="number" id="farming_ratio_max" name="farming_ratio_max" required><br> <!-- Table series : maxag -->

    <label>Technology multiplier:</label>
    <input type="number" id="technology_multiplier:" name="technology_multiplier" required><br> <!-- Table series : tmult -->

    <label>Initial technological level:</label>
    <input type="number" id="initial_technological_level" name="initial_technological_level" required><br> <!-- Table series : inittech -->

    <label>Minimum and maximum wins to join:</label><br>
    <input type="number" id="minimum_wins" name="minimum_wins" required> <!-- Table series : wins -->
    <input type="number" id="maximum_wins" name="maximum_wins" required><br> <!-- Table series : winmax -->

    <input type="submit" value="Create series">
    </form>
</body>
</html>