<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Series</title>
    <link rel="stylesheet" href="/static/CSS/StellarCrisis.css">
</head>
<body>
<header>
        <div class="topNav">
            <a href="CreateSeries">Create series</a>
            <a href="ListSeries">List series</a>
            <a href="ViewGame">View Game</a>
            <a href="CheckEmpire">Check empire</a>
            <a href="Broadcast">Broadcast</a>
            <a href="LoginMessage">Login Message</a>
            <a href="LogOut">Log Out</a>
        </div>
</header>
<table class="table">
    <tr>
        <th>Id</th>
        <th>Serie Name</th>
        <th>Description</th>
    </tr>
    {% for cell in series %}
        <tr>
            <td>{{ cell[0] }}</td> <!-- Id -->
            <td>{{ cell[1] }}</td> <!-- Serie name -->
            <td>{{ cell[3] }}</td> <!-- Description -->
            <td><a style="color: greenyellow" href="EditSerie/{{ cell[0] }}">Edit Serie</a></td>
            <td><a style="color: yellow" href="RespawnSerie/{{ cell[0] }}">Respawn Serie</a></td>
            <td><a style="color: red" href="KillSerie/{{ cell[0] }}">Kill Serie</a></td>
        </tr>
    {% endfor %}
</table>
</body>
</html>