<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Message</title>
    <link rel="stylesheet" href="/static/CSS/StellarCrisis.css">
</head>
<body>
<header>
    <div class="topNav">
        <a href="CreateSeries">Create series</a>
        <a href="ListSeries">List series</a>
        <a href="ViewGame">View Game</a>
        <a href="CheckEmpire">Check empire</a>
        <a href="Broadcast">Broadcast</a>
        <a href="LoginMessage">Login Message</a>
        <a href="LogOut">Log Out</a>
    </div>
</header>
<div class="center">
        <h1>Login message</h1>
        <form method="POST" action="">
            <input type="text" name="message" placeholder="Message">
            <button type="submit">Push Login message</button>
        </form>
    </div>
</body>
</html>