<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>new game</title>
    <link rel="stylesheet" href="/static/CSS/StellarCrisis.css">
</head>
<body>
    <header>
        <div class="topNav">
            <a href="ListGames">List games</a>
            <a href="YourGames">Your game</a>
            <a href="NewGame">new game</a>
            <a href="OpenGames">Open games</a>
            <a href="Profile">Profile</a>
            <a href="Statistics">Statistics</a>
            <a href="Historic">Historic</a>
            <a href="LogOut">Log Out</a>
        </div>
    </header>
    <table class="table">
        <tr>
            <th>Id series</th>
            <th>Serie Name</th>
            <th>Description</th>
        </tr>
        {% for cell in series %}
            <tr>
                <td>{{ cell[0] }}</td> <!-- Id -->
                <td>{{ cell[1] }}</td> <!-- Serie name -->
                <td>{{ cell[3] }}</td> <!-- Description -->
                <td><a style="color: greenyellow" href="CreateGame/{{ cell[0] }}">Create game</a></td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>