<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User page</title>
    <link rel="stylesheet" href="/static/CSS/StellarCrisis.css">
</head>
<body>
    <header>
        <div class="topNav">
            <a href="ListGames">List games</a>
            <a href="YourGames">Your game</a>
            <a href="NewGame">new game</a>
            <a href="OpenGames">Open games</a>
            <a href="Profile">Profile</a>
            <a href="Statistics">Statistics</a>
            <a href="Historic">Historic</a>
            <a href="LogOut">Log Out</a>
        </div>
  </header>
    <div class="center">
        <h1>Welcome to your user page </h1>
        {% if Broadcast %}
             <p style="text-align: center">{{ Broadcast }}</p>oadcast }}</p>
        {% endif %}
    </div>

</body>
</html>